<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="path" value="D:\anasteysha\Radency\Hometask#1\ETL\A" />
    <add key="path2" value="D:\anasteysha\Radency\Hometask#1\ETL\B\" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>